[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.3"
opencv-python = "*"
tqdm = "*"
matplotlib = "*"
cmake = "*"
boost = "*"
dlib = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pre-commit = "*"

[requires]
python_version = "3.6"
